<?xml version="1.0"?>

<launch>

<!-- openni -->
<include file="$(find openni_launch)/launch/openni.launch"/>

<!-- depthimage_to_laserscan -->
<node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet">
<param name="output_frame_id" value="image:=camera_depth_frame" />
</node>

<!-- hector_mapping parameters -->
<param name="pub_map_odom_transform" value="true"/>
<param name="map_frame" value="map"/>
<param name="base_frame" value="base_frame"/>
<param name="odom_frame" value="base_frame"/>

<!-- set up transforms -->
<node pkg="tf" type="static_transform_publisher" name="map_to_base_footprint" args="0 0 0 0 0 0 /map /base_footprint 100"/>
<node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 /base_footprint /base_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_stabilized" args="0 0 0 0 0 0 /base_link /base_stabilized 100"/>
<node pkg="tf" type="static_transform_publisher" name="base_stablized_to_base_frame" args="0 0 0 0 0 0 /base_stabilized /base_frame 100"/>
<node pkg="tf" type="static_transform_publisher" name="base_frame_to_camera_link" args="0 0 0 0 0 0 /base_frame /camera_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="base_frame_to_nav" args="0 0 0 0 0 0 /base_frame /nav 100"/>

<!-- visualize -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>

<!-- begin mapping -->
<include file="$(find hector_mapping)/launch/mapping_default.launch"/> 
<include file="$(find hector_geotiff)/launch/geotiff_mapper.launch"/>

</launch>
