<?xml version="1.0"?>

<launch>

<master auto="start"/>

<include file="$(find freenect_launch)/launch/freenect.launch"/>

<include file="$(find asr)/launch/asr_tf.launch"/>

<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" args="image:=/camera/depth/image_raw"/>

<node pkg="asr" type="state_manager.py" name="state_manager" respawn="true" respawn_delay="5" output="screen" launch-prefix="xterm -e"/>
<node pkg="asr" type="slam_controller.py" name="slam_controller" respawn="true" respawn_delay="5"/>
<node pkg="asr" type="motion_detection_controller.py" name="motion_detection_controller" respawn="true" respawn_delay="5"/>
<node pkg="asr" type="motion_detector.py" name="motion_detector" respawn="true" respawn_delay="5"/>
<node pkg="asr" type="alert_reporter.py" name="alert_reporter" respawn="true" respawn_delay="5"/>

</launch>
